<div class="user-details">
  <h1>About Me:</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Education and Certs</h2>
    <p>I have a BS in Information Technology from Western Governors University. Certifications include CompTIA A+, CompTIA Security+, CompTIA Network+, and ITILv4</p>
  </div>
  <div class="tech">
    <h2>Experience</h2>
    <p>I have been a service desk technician for the past year for Milestone Technologies that services employees at Sony PlayStation.</p>
  </div>
</div>
